/* Main */
html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: auto;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    font-family: "poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-left: 15%;
    margin-right: 15%;
}

small {
    font-size: small;
}

/* Header */
header {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(#ffffff, #ffffff);
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    min-height: 100px;
    /* position: sticky; */
    top: 0;
    z-index: 1;
    box-shadow: 0 20px 20px 10px rgba(0,0,0,0.1);
}

header h1 {
    color: #9171f8;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* Intro */
.intro {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(Images/background.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 500px;
}

.intro p{
    background-color: rgb(18, 18, 18, 0.5);
    padding: 25px;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 20px 20px 10px rgba(0,0,0,0.2);
    font-size: large;
}

.intro h1{
    font-size: xx-large;
    margin: 0;
    color: #000000;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

nav a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    color: #000000;
    border-radius: 5px;
    transition: all 1s ease-in-out;
}

nav a:hover {
    background-color: #9171f8;
    border-radius: 25px;
    color: white;
    font-size: larger;
}

main {
    flex: 1;
    padding: 20px;
}

h1 {
    font-family: "merel", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    text-align: center;
    
}

h5 {
    text-align: center;
}

footer {
    background-color: #1f2c46;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-style: italic;
    color: #555;
    min-height: 40px;
}

footer p {
    color: whitesmoke;
}

.typo {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0px -6px 50px 20px rgba(0,0,0,1);
    padding-bottom: 30px;
    padding-top: 20px;
}

.title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: xx-large;
    font-family: "merel", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.title p{
    text-align: center;
    font-size: medium;
}

.typo .image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.typo .image-box {
    position: relative;
}

.typo .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(0,0,0);
    text-align: center;
    height: 400px;
    width: 400px;
    transition: opacity 0.3s ease-in-out;
}

.image-text h1 {
    color: white;
    font-size: xx-large;
    font-family: "merel", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 0px;
}

.image-text p {
    color: white;
    font-size: small;
    padding: 30px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-left: 0;
    margin-right: 0;
}

.typo img {
    width: 400px;
    height: 400px;
    padding: 10px;
}

.typo .image-box:hover .image-text {
    opacity: 1;
}

.coding {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 40px;
    gap: 30px;
    color: white;
}

.worksheet-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.worksheet-obj {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.worksheet-obj img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
    width: 400px;
    opacity: 0.9;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.worksheet-obj img:hover {
    transform: scale(1.05);
    opacity: 75%;
}

.worksheet-obj p {
    text-align: justify;
    max-width: 400px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 10px;
}

button {
    background-color: #9171f8;
    color: white;
    font-size: large;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border: none;
    transition: all 0.2s ease-in-out;
    font-family: "merel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: #9171f89f;
    border-radius: 100px;
    font-size: medium;
}

/* CSS for Carp Section */
.carp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px;
    background: #121212;
    color: #ffffff;
}

.poster-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

.poster-obj p {
    text-align: justify;
    max-width: 400px;
    font-family: "poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding: 10px;
    margin: 0;
}

.poster-obj {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.poster-obj img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    min-width: 0;
    min-height: 0;
    width: 400px;
    transition: all 1s ease-in-out;
}

.poster-obj img:hover {
    transform: scale(1.05);
    box-shadow: 0 -6px 60px 10px rgb(0, 0, 0, 1);
}

.carp{
    background: #121212;
}

.finalposter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 40px;
    background: #121212;
}

.finalposter img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    min-width: 400px;
    min-height: 0;
    width: 600px;
    padding: 20px;
    padding-top: 0px;
}

.finalposter p{
    max-width: 400px;
    margin: 0;
    padding: 20px;
    padding-top: 0px;
    color: #ffffff;
    text-align: justify;
}

.carp .title{
    padding: 0px;
    padding-top: 5px;
}

.carp .title h1 {
    color: white;
    margin-bottom: 0;
    text-align: center;
    font-size: xx-large;
}

/* CSS for Reflection Essay Section */
.reflect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: #ffffff;
    color: black;
    text-align: center;
    text-align: justify;
}

.reflect h1{
    margin-top: 40px;
}

.reflect p{
    margin-left: 15%;
    margin-right: 15%;
}